{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Books</title>
</head>
<body>
    <h1>Book Engine</h1>
    <input id="keyword" placeholder="search">
    <table style="width:100%" id="hasil">
                
    </table>
</body>
</html>
